{% extends "gym_users/base.html" %}
{% load static %}
<style>
    button {

    background-color:hsl(210, 25%, 11%);
    }
</style>
{% block content %}

        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
  <div class="card-body">
           <form class="form-horizontal form-custom" method="post" role="form" action="">
               {% csrf_token %}

                         <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
                                {{form.first_name}}

  </div>

                                        <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
                                {{form.last_name}}

  </div>
             <div class="form-group">
    <label for="exampleInputEmail1">Father Name</label>
                                {{form.father_name}}

  </div>


                          <div class="form-group">
    <label for="exampleInputEmail1">CNIC</label>
                                {{form.cnic}}

  </div>

                                         <div class="form-group">
    <label for="exampleInputEmail1">Gender</label>
                                {{form.gender}}

  </div>

                      <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
                                {{form.address}}

  </div>





  </div></div></div>
                    <div class="col-md-6">
                          <div class="card">
  <div class="card-body">
                         <div class="form-group">
    <label for="exampleInputEmail1">Mobile No</label>
                                {{form.mobile_no}}

  </div>



                            <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
                                {{form.email}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                {% if form.email.errors %}

                                <span class="text-danger">{{form.email.errors}}</span>

                                {% endif %}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
                                      {{form.password}}

  </div>

               <div class="form-group">
    <label for="exampleInputPassword1">Birth Date</label>
                                      {{form.birth_date}}

                                 <div class="form-group">
     {% if form.birth_date.errors %}

                                <span class="text-danger">{{form.birth_date.errors}}</span>

                                {% endif %}                   </div>
  </div>
                 <div class="form-group">
    <label for="exampleInputPassword1">Type</label>
                                      {{form.type}}


  </div>


  <button type="submit" class="btn btn-primary mt-1">Submit</button>
                        </form>
  </div>
</div>

                    </div>
                </div>
            </div>
        </section>

{% endblock content %}