{% extends "gym_users/base.html" %}
{% load static %}
<style>
    button {

    background-color:hsl(210, 25%, 11%);
    }
</style>
{% block content %}

        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
  <div class="card-body">
           <form class="form-horizontal form-custom" method="post" role="form" action="">
               {% csrf_token %}

                            <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
                                {{form.email}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
                                      {{form.password}}

  </div>

                 <div class="form-group">
    <label for="exampleInputPassword1">Type</label>
                                      {{form.type}}

  </div>
               <div class="form-group">
<!--             errors section-->
                   </div>

  <button type="submit" class="btn btn-primary mt-1">Submit</button>
                        </form>
  </div>
</div>

                    </div>
                </div>
            </div>
        </section>

{% endblock content %}