
 {% if class %}
<div class="row">
    <div class="col-md-6">
        <h3>Classes Timing</h3>
    </div>

</div>
 <hr>
<div class="row">
    <div class="col-md-2">
            <p><b>Class Name</b></p>
    </div>

     <div class="col-md-2">
            <p><b>Trainer</b></p>
    </div>

     <div class="col-md-3">
        <b>Description</b>
    </div>

     <div class="col-md-2">
         <b>Start Time</b>
    </div>

     <div class="col-md-2">
         <b>End Time</b>
    </div>

</div>
<hr>
{% for classes in class %}

 <div class="row">
    <div class="col-md-2">
            <p>{{classes.class_name}}</p>
    </div>

       <div class="col-md-2">
            <p>{{classes.trainer}}</p>
    </div>

     <div class="col-md-3">
         <p>{{classes.description}}</p>

    </div>

     <div class="col-md-2">
         <p>{{classes.start_time}}</p>
    </div>

          <div class="col-md-2">
         <p>{{classes.end_time}}</p>
    </div>


</div>

 {% endfor %}


<hr>

 {% else %}

       <center>
      <div class="row justify-content-center">
          <div class="col-md-8">
     No Data Found
              </div>
          </div>
          </center>
 {% endif %}

